<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tendi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".generalTende.PedidoProveedoresConfirmPopUp"></activity>
        <activity android:name=".generalTende.ConfirmarPago" />
        <activity android:name=".generalTende.BeneficioCreditosActivity" />
        <activity android:name=".generalTende.BeneficioBonosActivity" />
        <activity android:name=".generalTende.BeneficioSegurosActivity" />
        <activity android:name=".generalTende.BeneficioAhorroActivity" />
        <activity android:name=".generalTende.BeneficioCapacitacionesActivity" />
        <activity android:name=".generalTende.TopVentasActivity" />
        <activity
            android:name=".generalTende.InstruccionesPopUp"
            android:theme="@style/AppTheme.TemaPopUp" />
        <activity android:name=".generalTende.DetalleCompraProveedor" />
        <activity android:name=".generalTende.ProveedoresActivity" />
        <activity android:name=".generalTende.EditarProductoActivity" />
        <activity android:name=".generalTende.ComprarProductActivity" />
        <activity android:name=".generalUser.BolsaDeCompra" />
        <activity android:name=".generalUser.TendActivity" />
        <activity android:name=".generalUser.UserMainActivity" />
        <activity android:name=".generalTende.Pedidos" />
        <activity android:name=".generalTende.HomeActivity" />
        <activity
            android:name=".InicioRegistro.Inicio"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InicioRegistro.RegistroTendero2" />
        <activity android:name=".InicioRegistro.Registro1" />
        <activity android:name=".InicioRegistro.RegistroTendero" />
        <activity android:name=".InicioRegistro.RegistroComprador" />
    </application>

</manifest>